body {
    background:#FAF3EC;
    font-family: 'Roboto';
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #748194;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #748194;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #748194;
}
:-moz-placeholder { /* Firefox 18- */
    color: #748194;
}
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.nav_left{
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_btn{
    text-align: center;
    width: 15%;
    height: 80%;
}
.nav_btn > span{
    line-height: 40px;
}
.nav_btn:hover{
    background: white;
    color: #453dff;
}
.nav_right{
    display: flex;
    justify-content: space-around;
    flex-basis: 40%;
    align-items: center;
}
.usn_text{
    margin-right: 10px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid;
    border-radius: 15px;
    width: auto;;
}
.btn_login{
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    color: white;
    background: #453dff;
}
.container{
    display:none;
    position:relative;
    width: auto;
    height:auto;
    top: calc(50% - 200px);
    left: calc(40% - 160px);
    border-radius:15px 15px 15px 15px;
}
.c1{
    box-shadow:0 0 10px grey;
    background-color:white;
    width:300px;
    height:500px;
    display:inline-block;
    border-radius:15px 15px 15px 15px;
}

.c11{
    background-image:url('https://i.pinimg.com/736x/b8/09/22/b80922f6ea2daaf36a6627378662803b--deck-of-cards-phone-wallpapers.jpg');
    background-size:300px 400px;
    background-repeat: no-repeat;
    background-color:white;
    width:300px;
    height:400px;
    display:inline-block;
    position:absolute;
    z-index:4;
    border-radius:15px 15px 200px 200px;
}
#left, #right {
    color:white;
    display: inline-block;
    width:146px;
    height: 500px;
    background-color:white;
    cursor:pointer;
}
#left{
    border-radius:15px 0px 0px 15px;
}
#right{
    border-radius:15px 15px 15px 0px;
}
.left_hover{
    color:#EE9BA3;
    box-shadow: 5px 0 18px -10px #333;
    z-index:1;
    position:absolute;
}
.right_hover{
    box-shadow: -5px 0 15px -10px #333;
    z-index:1;
    position:absolute;
}
.s1class{
    color:#748194;
    position:absolute;
    bottom:0;
    left:63%;
    margin-left: -60%;
}
.s1class span,  .s2class span{
    display:block;
}
.su{
    font-size:20px;
}
.s2class{
    color:#748194;
    position:absolute;
    bottom:0;
    right:63%;
    margin-right: 10%;
}
.mainhead{
    color:white;
    font-size:24px;
    text-align:center;
    margin-top:50px;
}
.mainp{
    color:white;
    font-size:13px;
    text-align:center;
    margin-top:10px;
}
.c2{
    background-color:white;
    width:300px;
    height:500px;
    border-radius:15px;
    position:absolute;
    left:370px;
    display:inline-block;
}
.username{
    font-weight: bold;
    width: 200px;
    margin: 0 35px 20px ;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
}
.btn{
    font-weight: bold;
    width: 230px;
    margin: 0 35px 20px ;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #EE9BA3;
    color: white;
    font-size: 14px;
}
.signup1{
    color:#748194;
    font-size:30px;
    text-align:center;
}
a{
    text-decoration: none;
}
.signup2{
    color:#748194;
    font-size:20px;
    text-align:center;
}
.signup{
    display:initial;
}
.signin{
    display:initial;
}
/*.raw{*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/
.list-item{
    text-align: center;
    margin-top: 20px;
}
.list-item > img{
    width: 90%;
    height: auto;
    margin: 5px;
}
.btn-primary{
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}
.formAdd{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    height: 30px;
    margin: 20px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title > input{
    height: 100%;
    width: 300px;
}
.title > span{
    line-height: 30px;
}
.formAdd > button{
    width: 100px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 30%;
    top: 10%;
    width: 30%; /* Full width */
    height: 30%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}